src/main/java/pt/jma/orchestration/activity/config/activity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:pt.jma.orchestration.activity"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="activity" type="pt:activityType" xmlns:pt="urn:pt.jma.orchestration.activity" />
	<xs:complexType name="propertyType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="name" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="propertiesType">
		<xs:sequence>
			<xs:element type="pt:propertyType" name="property" maxOccurs="unbounded" minOccurs="0" xmlns:pt="urn:pt.jma.orchestration.activity" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="targetType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="class" />
				<xs:attribute type="xs:string" name="method" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="bindType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="scopeFrom" use="optional">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="scope" />
							<xsd:enumeration value="properties" />
							<xsd:enumeration value="context" />
							<xsd:enumeration value="global-state" />
						</xsd:restriction>
					</xsd:simpleType>
				</xs:attribute>
				<xs:attribute type="xs:string" name="from" />
				<xs:attribute type="xs:string" name="scopeTo" use="optional" >
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="scope" />
							<xsd:enumeration value="properties" />
							<xsd:enumeration value="context" />
							<xsd:enumeration value="global-state" />
						</xsd:restriction>
					</xsd:simpleType>
				</xs:attribute>
				<xs:attribute type="xs:string" name="to" />
				<xs:attribute type="xs:string" name="converter" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="inputType">
		<xs:sequence>
			<xs:element type="pt:bindType" name="bind" maxOccurs="unbounded" minOccurs="0" xmlns:pt="urn:pt.jma.orchestration.activity" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="outputType">
		<xs:sequence>
			<xs:element type="pt:bindType" name="bind" maxOccurs="unbounded" minOccurs="0" xmlns:pt="urn:pt.jma.orchestration.activity" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="bindsType">
		<xs:sequence>
			<xs:element type="pt:inputType" name="input" minOccurs="0" xmlns:pt="urn:pt.jma.orchestration.activity" />
			<xs:element type="pt:outputType" name="output" xmlns:pt="urn:pt.jma.orchestration.activity" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="stateType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="name" />
				<xs:attribute type="xs:string" name="from" use="optional" />
				<xs:attribute type="xs:string" name="to"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="forwardType">
		<xs:attribute type="xs:string" name="outcome" use="optional" />
		<xs:attribute type="xs:string" name="action" />
		<xs:attribute type="xs:string" name="event" use="optional" />
	</xs:complexType>
	<xs:complexType name="forwardsType">
		<xs:sequence>
			<xs:element type="pt:forwardType" name="forward" maxOccurs="unbounded" minOccurs="0" xmlns:pt="urn:pt.jma.orchestration.activity" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="actionType">
		<xs:sequence>
			<xs:element type="pt:targetType" name="target" xmlns:pt="urn:pt.jma.orchestration.activity" />
			<xs:element type="pt:bindsType" name="binds" minOccurs="0" xmlns:pt="urn:pt.jma.orchestration.activity" />
			<xs:element type="pt:forwardsType" name="forwards" minOccurs="0" xmlns:pt="urn:pt.jma.orchestration.activity" />
		</xs:sequence>
		<xs:attribute type="xs:string" name="name" />
		<xs:attribute type="xs:string" name="service" />
		<xs:attribute type="xs:string" name="event" use="optional" />
	</xs:complexType>
	<xs:complexType name="actionsType">
		<xs:sequence>
			<xs:element type="pt:actionType" name="action" maxOccurs="unbounded" minOccurs="0" xmlns:pt="urn:pt.jma.orchestration.activity" />
		</xs:sequence>
		<xs:attribute type="xs:string" name="start" />
		<xs:attribute type="xs:string" name="event" use="optional" />
	</xs:complexType>
	<xs:complexType name="resultsType">
		<xs:sequence>
			<xs:element type="pt:resultType" name="result" maxOccurs="unbounded" minOccurs="0" xmlns:pt="urn:pt.jma.orchestration.activity" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="resultType">
		<xs:attribute type="xs:string" name="name" />
		<xs:attribute type="xs:string" name="type" />
		<xs:attribute type="xs:string" name="targetName" />
		<xs:attribute type="xs:string" name="targetType" />
		<xs:attribute type="xs:string" name="event" use="optional" />
	</xs:complexType>
	<xs:complexType name="eventsType">
		<xs:sequence>
			<xs:element type="pt:eventType" name="event" maxOccurs="unbounded" minOccurs="0" xmlns:pt="urn:pt.jma.orchestration.activity" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventType">
		<xs:sequence>
			<xs:element type="pt:stateType" name="state" maxOccurs="unbounded" minOccurs="0" xmlns:pt="urn:pt.jma.orchestration.activity" />
		</xs:sequence>
		<xs:attribute type="xs:string" name="name" />
	</xs:complexType>
	<xs:complexType name="activityType">
		<xs:sequence>
			<xs:element type="pt:propertiesType" name="properties" xmlns:pt="urn:pt.jma.orchestration.activity" />
			<xs:element type="pt:actionsType" name="actions" xmlns:pt="urn:pt.jma.orchestration.activity" />
			<xs:element type="pt:resultsType" name="results" xmlns:pt="urn:pt.jma.orchestration.activity" />
			<xs:element type="pt:bindsType" name="binds" minOccurs="1" xmlns:pt="urn:pt.jma.orchestration.activity" />
			<xs:element type="pt:eventsType" name="events" minOccurs="1" xmlns:pt="urn:pt.jma.orchestration.activity" />
		</xs:sequence>
		<xs:attribute type="xs:string" name="parent" use="optional" />
	</xs:complexType>
</xs:schema>